:root {
	--primaryColor: #00CDD4;
	--primesecondColor: #02C1C7;
	--borderColor: #F0F0F0;
	--secondColor: #F5F5F5;
	--btnBg: #FFC700;
	--lightBg: #00CDD41A;
}	
html, body, p, li, * {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	letter-spacing: 0.2px;
}
h1,h2,h3,h4,h5,h6, .main-header a, .section-title-sub, .sectitle-border span, .btn-all {
	font-family: 'Montserrat', sans-serif;
}
.primeBg {
	background: var(--primaryColor);
}
ul {
	list-style: none;
	padding: 0;
}
button {
	transition: all 300ms;
}
a {
	text-decoration: none !important;
	transition: all 300ms;
}

/* ----------------Header---------------- */
.opening-text {
	font-size: 15px;
	font-weight: 400;
}
.header-social li a i {
  background: var(--primesecondColor);
}
.header-social li a i {
  background: var(--primesecondColor);
  height: 40px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.header-social {
	gap: 5px;
}
.header-social li a:hover i {
	color: var(--primaryColor);
	background: #fff;
}
.icon {
  font-size: 32px;
  width: 57px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.icon i {
	font-size: 26px;
}
.icon {
	border: 2px solid var(--borderColor);
	color: var(--primaryColor);
}
.address, .address strong, .address a {
  font-size: 13px;
  font-weight: 400;
  line-height: 16.93px;
  color: #000;
  font-weight: 400;
}
.secondColor {
	background: var(--secondColor);
}
.mid-header .w-auto .d-flex {
  transition: all .4s linear;
}
.mid-header .w-auto .d-flex:hover .icon {
  background: #fff;
}
.header-contact .icon {
	width: 42px;
	height: 42px;
}
.header-contact .icon i {
	font-size: 18px;
}
.main-header .navbar li a {
  line-height: 29.26px;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  padding: 6px 18px !important;
}
.main-header .navbar li:last-child a {
	padding-right: 0 !important;
}

/* ----------------Body---------------- */

.section-title, .sectitle-border span, .section-title-sub {
  font-weight: 700;
  font-size: 32px;
  line-height: 39.01px;
  background: var(--primaryColor);
  text-transform: uppercase;
  z-index: 1;
}
.container {
	max-width: 1240px;
}
.sec-des {
	font-size: 20px;
	line-height: 28.44px;
	font-weight: 500;
}
.text-prime {
	color: var(--primaryColor);
}
.sectitle-border::before {
  content: "";
  display: block;
  background: var(--primaryColor);
  width: 90%;
  height: 2px;
  position: absolute;
  top: 6px;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  z-index: -1;
}
.testimonial .sectitle-border::before {
	background: #fff;
}
.whychoose-list li strong, .whychoose-list li p {
  line-height: 24.38px;
  font-size: 20px;
}
.whychoose-list li strong {
	font-family: 'Montserrat', sans-serif;
}
.whychoose-list li p {
	line-height: 28.44px;
}
.whychoose-list-img::before {
	content: "";
	display: block;
	background: #00CDD41F;
	width: 70%;
	height: 175px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.section-title-sub {
  background: #00CDD41F;
  width: 80%;
  color: var(--primaryColor);
  padding: 22px 0;
}
.main-title {
  font-size: 38px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.banner-content {
  z-index: 1;
}
.main-title strong {
  font-weight: 800;
  font-size: 52px;
  background: #ffa800;
  border-radius: 70px;
  color: #fff;
  border: 2px solid #fff;
  text-shadow: 0 2px 4px #00000040;
  padding: 0px 50px;
  line-height: 78.02px;
}
.main-title {
  font-size: 38px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  margin-bottom: 0;
}
.banner-content {
  top: 10%;
}
.bannersub-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--primaryColor);
  margin-top: -69px;
}
.whychoose-list-end::before {
	right: 0;
	left: auto;
}
.queries-form {
	width: 80%;
}
.queries-form .form-control {
  height: 46px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0px #0000001f;
  font-size: 15px;
}
.queries-form .form-label {
  font-size: 15px;
  font-weight: 500;
  color: #0000008A;
}
.queries-form .form-label {
  font-size: 15px;
  font-weight: 500;
  color: #0000008A;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: all 300ms;
  cursor: auto;
}
.queries-form .form-label span {
  color: red;
}
.queries-form .form-control:focus + label, .queries-form .form-control:not(:placeholder-shown) + label {
  left: 0;
  transform: translateX(-100%);
}
.queries-form input::-webkit-input-placeholder{
  visibility: hidden;
  opacity: 0;
  color: #fff;
}
.queries-form textarea::-webkit-input-placeholder{
  visibility: hidden;
  opacity: 0;
  color: #fff;
}
.queries-form input:-moz-placeholder, .queries-form input::-moz-placeholder {
  visibility: hidden;
  opacity: 0;
  color: #fff;
}
.queries-form textarea:-moz-placeholder, .queries-form textarea::-moz-placeholder {
  visibility: hidden;
  opacity: 0;
  color: #fff;
}
.btn-all {
  background: var(--btnBg);
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  text-align: center;
  min-width: 150px;
  padding: 8px 5px;
}
.queries-form textarea.form-control {
	min-height: 100px;
	height: auto;
}
.overlay {
  transition: all 0.3s;
}

.overlay:hover {
	background: #000A0A17;
	cursor: pointer;
}
.overlay-img img {
	transition: all 0.3s;
	object-fit: cover;
}
.overlay-img:hover img {
	transform: scale(1.1);
}
.overlay-text {
  font-weight: 800;
  font-size: 20px;
  background: #000A0A17;
  line-height: 24.38px;
  text-shadow: 0 2px 5px #000;
  font-family: 'Montserrat', sans-serif;
  min-height: 50px;
  text-transform: uppercase;
}
.testimonial p {
  font-size: 15px;
  font-weight: 700;
  line-height: 19.53px;
}
.client-name {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20.83px;
}
.client-name span {
  font-size: 15px;
}
h3 {
	font-size: 24px;
}
.video-border {
  border: 5px solid #fff;
  border-radius: 2px;
}
.patient-text {
  text-align: left;
  font-weight: 700;
  font-size: 15px;
  line-height: 18.29px;
}
.video-name {
	font-size: 10px;
	font-weight: 700;
	line-height: 12.19px;
	background: #fff;
	color: #000;
	text-align: left;
	min-height: 45px;
	border-radius: 2px;
}
.patient-block {
	background: url('../img/patient.png') no-repeat;
	background-size: cover;
	background-position: center;
}
.contactnowblock h2 {
  color: var(--primaryColor);
  font-weight: 700;
  font-size: 64px;
}
.contactnowblock p, .contactnowblock a, .contactnowblock i {
  font-size: 24px;
  font-weight: 500;
  color: var(--primaryColor);
}
.lightBg {
	background: var(--lightBg);
}
.blog-thum {
	border-bottom: 4px solid var(--primaryColor);
}
.blog-thum img {
	object-fit: cover;
	transition: opacity 0.5s, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
}
.blog-post:hover .blog-thum img {
	transform: scale(1.1);
}
.blog-thum::before {
position: absolute;
  border-radius: 50%;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  z-index: 2;
}
.blog-post:hover .blog-thum::before {
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s;
}
.blog-title {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: var(--primaryColor);
  margin-top: 20px;
  margin-bottom: 30px;
}
.blog-short-des {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #040F3D;
  margin-bottom: 15px;
}
.blog-btn {
  color: var(--primaryColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.blog-post {
  background: #fff;
  border-radius: 2px;
  height: 100%;
  cursor: pointer;
}
.progress-title {
  color: var(--primaryColor);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}
.footer-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--primaryColor);
  text-transform: uppercase;
  margin-bottom: 25px;
}
.footer-link li a {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.footer-link li {
  margin-bottom: 10px;
}
.foot-details strong, .foot-details a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 19.5px;
  margin-bottom: 10px;
}
.foot-details p {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  line-height: 18.29px;
  margin-bottom: 10px;
}
.foot-details {
  border-bottom: 1px solid #B4B4B4;
  margin-bottom: 15px;
}
.fotter-media a i {
  color: #000;
  font-size: 18px;
}
.fotter-media {
  gap: 10px;
}
.border-contact-ft {
  border-right: 1px solid #B4B4B4;
  border-left: 1px solid #B4B4B4;
}
.copyright {
  background: #000000C4;
}
.copyright p, .copyright a {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.copyright a {
  color: var(--primaryColor);
}
.banner-box {
  background: url('../img/vector.png') no-repeat;
  background-size: cover;
/*  width: 357px;*/
  min-height: 60vh;
  background-position: top;
}
.banner-box::before {
  content: "";
  display: block;
  width: 88%;
  height: 86%;
  background: url('../img/vector1.png') no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  bottom: 24px;
  background-position: top;
}
.banner-title {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 800;
  line-height: 24.38px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.time-sed {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.time-sed strong {
  font-size: 16px;
}
.appointment-text {
  font-size: 13px;
}
.appointment-link {
  font-size: 28px;
  font-weight: 700;
  color: #000;
}
.roorkee-block {
  margin-top: -10%;
}
.testi-content .d-flex img {
  width: 20px !important;
}
.owl-stage-outer {
  padding: 0 !important;
}
.testi-content {
  width: 95% !important;
  margin: 0px auto;
}
.doubleinvertedcommas {
  width: 170px;
}
.doubleinvertedcommas {
  width: 120px;
  position: absolute;
  z-index: 11;
  top: -24%;
  left: -32px;
}
.doubleinvertedcommas-bottom {
  top: auto;
  bottom: -5%;
  left: auto;
  right: -15px;
}
.main-header .navbar li a:hover {
  color: var(--primaryColor);
}
.btn.btn-all:hover {
  background: var(--primaryColor);
  color: #fff;
}
button {
  outline: none !important;
  box-shadow: none !important;
}
footer.footer-block {
  background: url('../img/footer-logo-bg.png') no-repeat;
  background-position: center right;
  background-color: var(--secondColor);
}
.cases-block {
  width: 53px;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primesecondColor);
}
.year-number strong {
  transform: rotate(-90deg);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.casenm-block {
  top: -22px;
  font-size: 13px;
  font-weight: 600;
} 
.casenm-block sub {
  font-size: 8px;
}



/* ------------Media Query----------------- */


@media (min-width: 992px) {
  .dropdown-menu-sub {
  border-radius: 5px !important;
  transition: transform .2s ease-out;
  transform: translate3d(0,10px,0);
  top: 35px;
  display: block;
  opacity: 0;
  left: auto;
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.07);
  margin: 0;
  min-width: 260px;
  padding: 5px 0;
  text-align: left;
  position: absolute;
  z-index: 99;
  background: #fff;
}
.main-header .navbar li:hover .dropdown-menu-sub {
  transform: translate3d(0,0,0);
  top: auto;
    display: block;
    opacity: 1;
}
.main-header .navbar li .dropdown-menu-sub a {
  border-bottom: 1px solid #f7f7f7;
  font-size: 16px;
  padding: 5px 18px !important;
}
.main-header .navbar li a i {
  font-size: 18px;
  transition: transform .2s ease-out;
}
.main-header .navbar li .dropdown-menu-sub li:last-child a {
  border-bottom: 0;
}
.main-header .navbar li:hover a i {
  transform: rotate(-180deg);
}
.main-title strong {
  position: relative;
  top: -4px;
}

}

@media (max-width: 1220px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .main-header .navbar li a {
    font-size: 18px;
  }

.bannersub-title {
  font-size: 24px;
  margin-top: -45px;
}
.main-title {
  font-size: 26px;
}
.main-title strong {
  font-size: 31px;
  line-height: normal;
}
}

@media (max-width: 991px) {
   .navbar-block {
    position: absolute;
    top: 100%;
    background: #fff;
    z-index: 999;
    left: 0;
    width: 100%;
    margin-left: -11px;
    margin-right: -15px;
    width: 100vw;
  }
  .main-header .navbar li a {
  font-size: 16px;
  padding: 6px 15px !important;
}
.main-header .navbar-nav {
  margin: 0px !important;
  padding: 10px 0;
}
.dropdown-menu-sub {
  display: none;
}
.submenuopen {
  display: block;
}

}

@media (max-width: 767px) {
  .opening-text {
  font-size: 12px;
  font-weight: 400;
}
  .section-title-sub {
    width: 100%;
  }
  .title-mb .section-title::before {
  display: none;
}
.title-mb .section-title {
  background: #00CDD41F !important;
  color: var(--primaryColor);
  width: 100%;
}
.title-mb .section-title span {
  background: transparent !important;
  padding: 0 !important;
}
.title-mb {
padding: 0;

}
.banner-bottom {
  flex-wrap: wrap !important;
  gap: 0 !important;
}
.border-contact-ft {
  border: 0;
}
.main-title {
  font-size: 14px;
  line-height: 24px;
}
.banner-content {
  left: auto !important;
  top: 15px;
  padding-right: 15px;
}
.main-title strong {
  font-size: 16px;
  padding: 0px 18px;
  line-height: normal;
}
.bannersub-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  position: relative;
  top: 35px;
  text-shadow: 1px 0px 4px #fff;
  z-index: 1;
}
.banner-box {
  min-height: 45vh;
}
.banner-title {
  font-size: 16px;
}


}

@media (max-width: 520px) {
  .section-title, .sectitle-border span, .section-title-sub {
  font-size: 20px;
  line-height: normal;
  padding: 10px 0;
}
.sec-des ,p, .contactnowblock p, .contactnowblock a, .contactnowblock i {
  font-size: 14px;
  line-height: normal;
}
.contactnowblock h2 {
  font-size: 32px;
}
.copyright p, .copyright a {
  font-size: 14px;
  padding: 10px 0;
}
}



/* About Us Css */

.hero-about-header {
  background: linear-gradient(rgba(9, 30, 62, .60), rgba(9, 30, 62, .60)), url(../img/rdic-about-2.jpg) center center no-repeat;
  background-size: cover;
  padding: 150px 0;
}
.hero-about-header h1 {
  font-weight: 700;
  line-height: 1.2;
}

.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #00cdd4;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #fcbf12;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #00cdd4;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #00cdd4;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #fcbf12;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #00cdd4;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;
  color: #00cdd4;
}

.main-timeline .description {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}
.main-timeline .month-none {
  top: 38%;
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 0
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }
}


@media (min-width: 1200px) {
  .hero-about-header h1 {
    font-size: 4rem;
  }
}

/*  ----------------Highlights CSS--------------  */

.content-sec {
  font-size: 16px;
}

@media (max-width:767px) {
  .order-mb .col-md-6:first-child {
  order: 2;
}
.order-mb .col-md-6:last-child {
  order: 1;
}
.highlights-block .progress-title {
  margin-bottom: 18px;
  font-size: 18px;
}
.content-sec {
  font-size: 14px;
  line-height: normal;
}
}

/*  ----------------Highlights CSS End!--------------  */